.productContainer {
  background-color: #c2c6c7;
}
.flexHeader {
  display: flex;
  flex-wrap: wrap;
}

.flexJustify {
  justify-content: space-between;
  padding: 20px;
  background-color: #c2c6c7;
}
.flexHeader > div {
  padding: 10px;
  background-color: #fcfeff;
  height: 20px;
  align-items: center;
  cursor: pointer;
}
.productLeftPad {
  padding-left: 6rem;
}
.productItem {
  padding: 25px;
  text-align: center;
}
.cartList {
  background-color: #fcfeff;
  display: grid;
  column-gap: 50px;
  grid-template-columns: 10% 30% 20% 10% 10%;
  padding: 10px;
}
